* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* All non-semantic <div> tags were replaced with applicable semantic elements.  */

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Removed extraneous h1 tag */
.header .seo {
    color: #d9dcd6;
}

/* Replaced <div> with <nav> element */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Combined redundant rules applying to both ul and li elements */
.header ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    padding-bottom: 15px;
}

/* changed <div> referencing this rule set to <img> tag with alt text */
.hero {
    height: 800px;
    width: 100%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* removed unnecessary float rules (see changes to 
.benefits and .service-offerings below) */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Lots of changes here! Consolidated separate rule sets for 
benefits sections into three rule sets, general, h3, and img, tidying up HTML in the process. */
.benefits {
    margin-right: 20px;
    margin-bottom: 32px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff
}

.benefits h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* As above, consolidated separate rule sets for services offered section into two, one 
facing left and one facing right. These lists can be further expanded if more services
are added to the page, making a left-right-left scheme easy to implement. */
.service-offerings-left {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.service-offerings-right {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.service-offerings-left img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
} 

.service-offerings-right img {
    max-height: 200px;
    float: right;
    margin-left: 25px;
} 
.service-offerings-left h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.service-offerings-right h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Changed <div> to <footer> */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
